.section1{
    background-color: #2196f3;
    height: 300vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    color: white;
    font-size: 100px;
    
}
.title1{
    color:yellow;
    font-size: 45px;
    font-family: "Playwrite CU", cursive;
}
*{
    margin: 0;
}
.MAIN{
    color: yellow;
}